# Config for macOS

# Freetype2 configs
#FT2_CFLAGS := $(shell pkg-config freetype2 --cflags)
#FT2_LFLAGS := $(shell pkg-config freetype2 --static --libs)

# Freetype2 configs for static build, it depends on your installation.
# Recommended Freetype2 configuration with this rule:
# configMac.sh _____________________________________________
##!/bin/bash
#
#CFGS+="--enable-static=yes "
#CFGS+="--enable-shared=no "
#CFGS+="--with-png=no "
#CFGS+="--with-bzip2=no "
#CFGS+="--with-zlib=no "
#CFGS+="--with-harfbuzz=no "
#CFGS+="--with-brotli=no "
#CFGS+="--with-librsvg=no "
#
#./configure CFLAGS="-arch arm64 -arch x86_64 -mmacosx-version-min=11.0" ${CFGS}
# ----------------------------------------------------------
FT2_CFLAGS := -I/usr/local/include/freetype2
FT2_LFLAGS := /usr/local/lib/libfreetype.a
