# Config for macOS

# Freetype2 configs
#FT2_CFLAGS := $(shell pkg-config freetype2 --cflags)
#FT2_LFLAGS := $(shell pkg-config freetype2 --static --libs)

# Freetype2 configs for static build, it depends on your installation.
# Recommended Freetype2 configuration with refs/configMac.sh 
FT2_CFLAGS := -I/usr/local/include/freetype2
FT2_LFLAGS := /usr/local/lib/libfreetype.a
